.container
{
    border-radius: 50px ;
    background-color: rgba(182, 151, 238, 0.712);
    height: 100vh;
    width:auto ;
}
.box1
{
    height: 355px;
    width: 750px;
    background-color: rgb(245, 212, 245);
    position: absolute;
    left: 360px;
    top: 160px;
    border-radius: 30px ;
    
}
.page1
{
    height: 500px;
    width: 300px;
    background-color: rgb(236, 177, 221);
    position: absolute;
    right: 360px;
    top: -70px;
    border-radius: 30px ;
}
.login{
    position: relative;
    top: 150px;
left: 50px;

}
.signup{
position: relative;
left: 310px;
top: -98px;

}

